.card {
   padding: 15px;
   margin: 20px;
   border: 2px solid salmon;
   border-radius: 12px;
   box-shadow: 3px 3px 3px grey;
   background-color: rgb(253, 133, 120);
   font-size: 25px;
   color: deeppink;
   font-weight: 700;
   width: 200px;
}

button {
   margin: 2px;
   color: brown;
   border-radius: 7px;
   border: 2px solid rgb(208, 173, 47);
   background-color: rgb(222, 245, 15);
   box-shadow: 3px 3px 3px rgb(61, 58, 58);
   cursor: pointer;
}

button:hover {
   background-color: rgb(255, 68, 0);
   border-radius: 7px;
   border: 2px solid rgb(194, 56, 6);
   box-shadow: 2px 2px 2px rgb(88, 18, 2);
   color: azure;
}

.expensive {
   font-size: 30px;
   color: darkturquoise;
}

.free {
   color: rgb(0, 255, 8);
}